<div class="container">
    <h4> Descriptif de cette application : </h4>
    <ul>
        <li class="pt-2"><u>Back-end :</u></li>
        <div class="text-left">Technologies utilisées : Spring-Boot 2 + Java 8</div>
        <a href="https://github.com/gdelestre/prog4fun_backend.git"> Repository Git</a>

        <li class="pt-4"><u>Front-end : </u></li>
        <div class="text-left">Technologie utilisée : Angular 9</div>
        <a href="https://github.com/gdelestre/prog4fun_frontend.git"> Repository Git</a>

        <li class="pt-4"><u>Base de données : </u></li>
        <div class="text-left">Technologie utilisée : MySQL 5.7</div>
        <a href="https://github.com/gdelestre/prog4fun_dbscript.git"> Repository Git</a>

        <li class="pt-4"><u>Hébergement :</u></li>
        <div class="text-left">Cette application est entièrement déployée grâce à Amazon Web Service.</div>
    </ul>

</div>