<div class="container-fluid">

  <div class="row align-items-start">
    <div class="col-sm-2">
      <img src="assets\images\logo.png" alt="prog4fun" class="img-responsive" height="100" width="150">
    </div>
    <div class="col-sm-10 bg-secondary text-white">
      <h3 class="font-italic text-center">Bienvenue sur mon pense-bête</h3>

      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Rechercher une action" aria-label="Recipient's username"
          aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-dark" type="button">Go!</button>
        </div>
      </div>
    </div>
  </div>


  <div class="row pt-4">

    <!-- Menu -->
    <div class="dropdown col-lg-2">
      <app-menu></app-menu>
    </div>

    <!-- Div principale-->
    <div class="col-lg-10">
      <app-acceuil></app-acceuil>
    </div>

  </div>

</div>