<div class="container-fluid">

  <div class="row align-items-start">
    <div class="col-sm-2">
      <a routerLink="/accueil">
        <img src="assets/images/logo.png" alt="prog4fun" class="img-fluid" height="100" width="150">
      </a>
    </div>
    <div class="col-sm-10 bg-secondary text-white">
      <h3 class="font-italic text-center">Bienvenue sur mon pense-bête</h3>

      <!-- Barre de recherche-->
      <app-barre-recherche></app-barre-recherche>
    </div>
  </div>


  <div class="main-content">
    <router-outlet></router-outlet>
  </div>

</div>