
<div class="menu-sidebar-content pb-2">
    <h4>Mes langages :</h4>
    <div class="pt-2" *ngFor="let tempUtilisation of mesUtilisations">
        <h6><u>{{ tempUtilisation.nom }}</u></h6>
        <div *ngFor="let tempLangage of mesLangages">
            <nav *ngIf="tempUtilisation.nom == tempLangage.nomUtilisation" class="navbar-sidebar">
                <ul class="list-unstyled">
                    <li>
                        <a routerLink="/langage/{{ tempLangage.idLangage }}" routerLinkActive="active-link">
                            {{ tempLangage.nomLangage }} </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="pt-4" *ngIf="isLoggedIn">
    <a class="btn btn-outline-primary btn-sm" href="/logout" (click)=handleLogout()>Déconnexion</a>
</div>